In [4]:
import pandas as pd

In [11]:
# Read Data
men_team_names = pd.read_csv('Data/MTeamSpellings.csv')
women_team_names = pd.read_csv('Data/WTeamSpellings.csv')
men_predictions = pd.read_csv('Data/MPredictions.csv')
# women_predictions = tbd

In [13]:
# Clean up Data

             TEAM   REGION  POWER RATING
0     Villanova 1     East          99.1
1      Michigan 3     West          94.0
2  Loyola (IL) 11    South          87.3
3        Kansas 1  Midwest          92.4
4  Kansas State 9    South          87.4

In [ ]:
# Add TeamID to predictions

In [15]:
# Create a dataframe with a combination of all teams ((68*67)/2 = 2,278)
# id,pred
# 2020_1107_1112,0.5
# ...

In [17]:
# Save csv