In [4]:
import pandas as pd

In [8]:
men_team_names = pd.read_csv('Data/MTeamSpellings.csv')
women_team_names = pd.read_csv('Data/WTeamSpellings.csv')

In [9]:
men_team_names

           TeamNameSpelling  TeamID
0          a&m-corpus chris    1394
1        a&m-corpus christi    1394
2               abilene chr    1101
3         abilene christian    1101
4         abilene-christian    1101
5                 air force    1102
6                 air-force    1102
7                     akron    1103
8                   alabama    1104
9               alabama a&m    1105
10               alabama st    1106
11              alabama st.    1106
12            alabama state    1106
13               alabama-am    1105
14       alabama-birmingham    1412
15               alabama-st    1106
16            alabama-state    1106
17                   albany    1107
18              albany (ny)    1107
19                albany ny    1107
20                albany-ny    1107
21                   alcorn    1108
22                alcorn st    1108
23               alcorn st.    1108
24             alcorn state    1108
25             alcorn-state    1108
26    alliant international    1109
27             alliant intl    1109
28          am-corpus-chris    1394
29                 american    1110
...                     ...     ...
1113          wichita-state    1455
1114           wichitastate    1455
1115         william & mary    1456
1116          william--mary    1456
1117           william-mary    1456
1118          winston salem    1445
1119          winston-salem    1445
1120    winston-salem-state    1445
1121               winthrop    1457
1122         wis.-green bay    1453
1123         wis.-milwaukee    1454
1124              wisconsin    1458
1125    wisconsin-green bay    1453
1126    wisconsin-green-bay    1453
1127    wisconsin-milwaukee    1454
1128                    wku    1443
1129                wofford    1459
1130              wright st    1460
1131             wright st.    1460
1132           wright state    1460
1133              wright-st    1460
1134           wright-state    1460
1135                wyoming    1461
1136                 xavier    1462
1137                   yale    1463
1138          youngstown st    1464
1139         youngstown st.    1464
1140       youngstown state    1464
1141          youngstown-st    1464
1142       youngstown-state    1464

[1143 rows x 2 columns]